/.idea/
/commentary/
/savestates/
/screenshots/
/video/
/.env
/notes.txt
/pokemon-crystal.gbc
/sample.png
/sample9.png
/sample3.png
/sample10.png
/sample8.png
/sample4.png
/sample2.png
/sample6.png
/sample7.png
/sample5.png
/speech.mp3
/speech2.mp3
/speech_testing.mp3
/tts.py
/player.py
